body{
   margin:0 ;
    padding:0 ;
    box-sizing:border-box;
    font-family: 'Josefin Sans', sans-serif;
    
   align-content: center;
    align-items: center;
    object-position: center;
}
.body1
{
    
    align-content: center;
    align-items: center;
    background-color: aliceblue;
    

    
}
h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
